body{
	margin: 2rem;
	color: white;
	
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

header{
	text-align: center;
	display: flex;
	justify-content: center;
}

@media only screen and (max-width: 600px){
	h1{
		font-size: 60px;
	}
}

@media only screen and (max-width: 375px){
	h1{
		font-size: 40px;
	}
}

h2{
	text-align: center;
}

#filter{
	display: flex;
}

@media only screen and (max-width: 425px){
	#filter{
		flex-direction: column;
	}
}

.searchers, #status, footer, .card{
	margin: 1rem;
}

#content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}

#content p{
	text-align: center;
}

.card{
	text-align: center;
	min-width: 300px;
}

.title{
	font-size: 24px;
}

footer{
	position: fixed;
	bottom: 0;
}