header{
	text-align: center;
}

body{
	margin: 2rem;
}

h2{
	text-align: center;
}

#filter{
	display: flex;
}

.searchers{
	margin: 1rem;
}

#content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
}

#content p{
	text-align: center;
}

.card{
	margin: 1rem;
	text-align: center;
	min-width: 300px;
}

footer{
	margin: 1rem;
}